body {
    font-family: Arial, Helvetica, sans-serif\;
}

.row {
    display: flex;
}

.cell {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: lightgray;
    border: 1px solid black;
}

@media screen and (max-width: 1148px) {
    .cell {
        height: 15px;
        width: 15px;
    }
}

@media screen and (max-width: 876px) {
    .cell {
        height: 8px;
        width: 8px;
    }
}

.alive {
    background-color: rgb(81, 81, 81);
}

.game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

button {
    padding: 10px 30px;
    font-size: 18px;
}